<nav class="Navbar">
    <a href="/">
        <div class="left-header">
            <h1 >Blogs Now</h1>
        </div>
    </a>
    <div class="links">
        <a href="/">Blogs</a>
        <a href="/about">About</a>
        <a href="/blogs/create">New Blog</a>
    </div>
</nav>