<html lang="en">
    <%- include("./partials/head.ejs") %> 
<body>
    <div class="homepageDiv">
        <%- include("./partials/nav.ejs") %> 


        <div class="not-found content">
            404! page not found :)
        </div>
    </div>

    <%- include("./partials/footer.ejs") %> 

</body>
</html>